<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-group *ngFor="let faq of faqs; let i = index">
      <ion-item button (click)="toggleAnswer(i)">
        <ion-label>
          <h2>{{ faq.question }}</h2>
        </ion-label>
        <ion-icon [name]="expandedIndex === i ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="expandedIndex === i">
        <p class="answer">{{ faq.answer }}</p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
