ion-card {
  margin: 0;
  padding: 16px;
  background: var(--ion-color-light);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;

  .item-grid {
    align-items: center;
  }

  .item-image {
    max-width: 100%;
    border-radius: 4px;
  }

  .item-service {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--ion-color-medium);
    margin: 0;
  }

  .item-details {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: var(--ion-color-dark);
  }

  .price {
    font-size: 0.8rem;
    color: var(--ion-color-medium);
  }

  .amount {
    font-size: 1rem;
    color: var(--ion-color-primary);
    font-weight: 700;
  }
}

.payment_info {
  padding: 10px;
  margin-bottom: 0;

  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 1.1rem;
    color: var(--ion-color-success);
    font-weight: bold;

    .end {
      font-size: 1.2rem;
    }
  }
}

.btn {
  font-size: 1.2rem;
  letter-spacing: 0 !important;
  height: 48px;
}
