<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{"Contact_us" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item>
            <div class="item_inner d-flex">
                <div class="text_box">
                    <p>{{'Call_us' | translate}}</p>
                    <h2><a href="tel:+52 33-3122-1189">+52 33-3122-1189</a> </h2>
                </div>
                <ion-icon href="tel:+52 33-3122-1189" class="zmdi zmdi-phone ion-text-center end"></ion-icon>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="text_box">
                    <p>{{'Email_us' | translate}}</p>
                    <h2><a href="mailto:tintoreriaelectronicasango@gmail.com">tintoreriaelectronicasango&#64;gmail.com</a></h2>
                </div>
                <ion-icon class="zmdi zmdi-email ion-text-center end"></ion-icon>
            </div>
        </ion-item>

        <ion-item>
            <div class="item_inner d-flex">
                <div class="text_box">
                    <p>{{'Reach_us' | translate}}</p>
                    <h2>Av Guadalupe 4331<br>Cd de los Niños<br>45030 Zapopan, Jal.</h2>
                </div>
                <ion-icon class="zmdi zmdi-navigation ion-text-center end"></ion-icon>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
