<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Aviso de Privacidad
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h1>Términos y Condiciones</h1>
    <h2>TINTORERÍAS SANGO</h2>
    <p>
      Los presentes términos y condiciones fueron elaborados de conformidad a lo establecido por los artículos 76 bis y 76 bis 1 de la Ley Federal de Protección al Consumidor y observando lo recomendado por la Norma Mexicana NMX-COE-001-SCFI-2018 publicada en el Diario Oficial de la Federación el día 30 de abril del año 2019, mismos que establecen las disposiciones a las que se sujetarán todas aquellas personas definidas por dicha norma mexicana como Usuarios o Clientes al acceder a la aplicación móvil <a href="https://sango-tintorerias.web.app/sign-in">https://sango-tintorerias.web.app/sign-in</a> buscando en todo momento garantizar, transparentar, informar y orientar adecuadamente sobre la navegación y realización de cualquier tipo de transacción a través de la aplicación móvil.
    </p>
    <p>
      Te informamos que al acceder a nuestra página o aplicación móvil (en adelante APLICACIÓN TINTORERÍAS SANGO) confirmas que estás enterado de su contenido y los aceptas, así como el AVISO DE PRIVACIDAD; en caso contrario, te pedimos abstenerte de utilizarlo y realizar alguna transacción en virtud de que la aceptación de los mismos es de carácter obligatorio.
    </p>
    <p>
      Bienvenido a <a href="https://sango-tintorerias.web.app/sign-in">https://sango-tintorerias.web.app/sign-in</a>, el cual es propiedad de DAVID SANTILLAN CORTÉS, persona física con actividad empresarial con nombre comercial TINTORERÍAS SANGO con domicilio en Avenida Guadalupe 4331, Colonia Ciudad de los Niños, municipio de Zapopan, Jalisco, C.P. 45040.
    </p>
    <p>
      Le rogamos que lea detalladamente los presentes términos y condiciones y consulte nuestro AVISO DE PRIVACIDAD en la sección PROTECCIÓN DE DATOS PERSONALES para conocer el tratamiento que le daremos a sus datos y los fines para los cuales serán utilizados antes de utilizar la aplicación.
    </p>

    <h2>Términos y Condiciones de Uso de la Aplicación Vigentes a partir del día 01 de Octubre del 2021</h2>
    <h3>Consideraciones Previas</h3>
    <p>
      Este contrato describe los TÉRMINOS Y CONDICIONES aplicables al uso de los servicios ofrecidos por TINTORERÍAS SANGO en la aplicación y página web.
    </p>
    <p>
      Cualquier persona que desee acceder y/o usar la APLICACIÓN TINTORERÍAS SANGO se le denominará como el “USUARIO”, quien quedará obligado a sujetarse a los presentes TÉRMINOS Y CONDICIONES.
    </p>
    <p>
      CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR LA APLICACIÓN TINTORERÍAS SANGO Y/O LOS SERVICIOS.
    </p>

    <h3>Cláusulas</h3>
    <h4>Primera. Aceptación de Términos Legales</h4>
    <p>
      Con el objetivo de ofrecer un ambiente seguro y agradable para nuestros USUARIOS, hemos establecido reglas y términos bajo los cuales se delimitan las áreas de responsabilidad y derechos tanto de la APLICACIÓN TINTORERÍAS SANGO como de los USUARIOS.
    </p>
    <p>
      Al acceder a la APLICACIÓN TINTORERÍAS SANGO, el USUARIO queda sujeto a los lineamientos, derechos y restricciones aquí mencionadas. La APLICACIÓN TINTORERÍAS SANGO se reserva el derecho de modificar los presentes TÉRMINOS Y CONDICIONES en el momento y bajo las circunstancias que más le convengan, siendo estos cambios vigentes en el momento mismo de su publicación.
    </p>

    <h4>Segunda. Registros, Cuentas, Contraseñas y Seguridad</h4>
    <p>
      La APLICACIÓN TINTORERÍAS SANGO utilizará la información proporcionada por el USUARIO en forma confidencial de acuerdo con lo establecido en el AVISO DE PRIVACIDAD; por lo que no podrá difundirla o transmitirla a otros proveedores ajenos a la transacción salvo autorización expresa del propio USUARIO o por el requerimiento de alguna autoridad competente.
    </p>
    <p>
      El uso de la APLICACIÓN TINTORERÍAS SANGO podrá requerir al USUARIO a abrir una cuenta y establecer una contraseña. El USUARIO es enteramente responsable de mantener el secreto de su información de la cuenta, incluyendo su contraseña, para cualesquiera y toda la actividad que ocurra bajo su cuenta. El USUARIO se compromete en notificar a TINTORERÍAS SANGO inmediatamente de cualquier uso desautorizado de su cuenta o contraseña o cualquier otro riesgo en la seguridad de su cuenta.
    </p>
    <p>
      Los datos que el USUARIO ingrese deberán ser totalmente ciertos; en caso de ser erróneos o falsos, TINTORERÍAS SANGO se reserva el derecho a eliminar la cuenta registrada con esos datos y prohibir el registro de dicha persona identificada por el correo electrónico, nombre o algún dato que se considere conveniente.
    </p>

    <h4>Tercera. Formas de Pago</h4>
    <p>
      El pago por los servicios ofrecidos en la APLICACIÓN TINTORERÍAS SANGO se realizará de forma directa en la aplicación por medio de Paypal con tarjetas de crédito y débito Visa, MasterCard, o American Express, o pago referenciado en Oxxo o vía SPEI, o cualquiera que sea el acuerdo de pago entre ambas partes.
    </p>

    <h4>Cuarta. Políticas de Pago</h4>
    <p>
      La APLICACIÓN TINTORERÍAS SANGO se reserva el derecho de solicitar documentos oficiales a los USUARIOS como medio de validación al proceso de adquisición de servicios a través de la aplicación.
    </p>
    <p>
      El número de orden que se asigna al realizar la transacción en la APLICACIÓN TINTORERÍAS SANGO no implica la aceptación de la transacción. En caso de tener algún problema con la orden del USUARIO, TINTORERÍAS SANGO le comunicará esta situación por correo electrónico o vía telefónica.
    </p>
    <p>
      Las notificaciones de su compra, envío, entrega y otros se hará a través de correo electrónico o por medio de la APLICACIÓN TINTORERÍA SANGO.
    </p>

    <h4>Sexta. Precios</h4>
    <p>
      Los precios publicados en la APLICACIÓN TINTORERÍAS SANGO pueden cambiar sin previo aviso. Si por alguna razón el precio se encuentra en $0.00 en un servicio o algún otro claramente erróneo, el USUARIO se deberá poner en contacto vía correo electrónico a <a href="mailto:tintoreriasangodomiciolio@gmail.com">tintoreriasangodomiciolio&#64;gmail.com</a> con la finalidad de solicitar el precio correcto del servicio deseado.
    </p>

    <h4>Séptima. Especificaciones de los Servicios</h4>
    <p>
      Las características de los servicios deberán quedar especificadas en la orden de servicio, la cual será enviada al correo electrónico que el USUARIO haya señalado para tal efecto.
    </p>
    <p>
      La orden de servicio deberá contener los siguientes elementos:
    </p>
    <ul>
      <li>La fecha de entrega;</li>
      <li>Cualquier deterioro que tenga la prenda, incluyendo adornos y aplicaciones;</li>
      <li>Cualquier riesgo que corra la prenda por el proceso;</li>
      <li>El proceso a que será sometida la prenda cuando no tenga etiqueta de instrucciones de limpieza;</li>
      <li>Las manchas o decoloraciones visibles;</li>
      <li>Especificaciones para el caso de prendas especiales.</li>
    </ul>
    <p>
      TINTORERÍAS SANGO no se hará responsable sobre manchas que por su naturaleza sean insolubles, así como las que no son perceptibles a la vista al momento de la recepción de las prendas o cualquier clase de tela y que surgieran durante el proceso de lavado, planchado o cualquier servicio contratado, tales como residuos de perfumes, ácidos, desodorantes o exudación; los daños que pudieran sufrir prendas en caso de que no cuente con instrucciones de lavado o planchado o que estas sean erróneas; el deterioro de rellenos, entretelas y partes ocultas de las prendas o telas.
    </p>

    <h4>Octava. Obligaciones de Tintorerías SANGO y el Usuario</h4>
    <p>
      TINTORERÍAS SANGO estará obligado a:
    </p>
    <ul>
      <li>Revisar el estado que guardan las prendas y señalar al USUARIO cualquier deterioro o riesgo en el proceso del servicio contratado;</li>
      <li>Seguir instrucciones de lavado y planchado contenidas en las etiquetas en idioma español;</li>
      <li>Entregar las prendas el día pactado en la orden de servicio, salvo casos fortuitos o de fuerza mayor.</li>
    </ul>
    <p>
      El USUARIO estará obligado a:
    </p>
    <ul>
      <li>Recoger las prendas o telas en la fecha y sucursal convenida, con excepción de los servicios a domicilio.</li>
      <li>Verificar que son las prendas o telas que entregó para los servicios contratados.</li>
      <li>Verificar que los servicios contratados hayan sido debidamente efectuados al momento de recibir las prendas o telas.</li>
      <li>Mostrar orden de servicio e identificación oficial al momento de que sus prendas o telas le sean entregadas y firmar de recibido en entera satisfacción.</li>
      <li>Pagar el precio por los servicios contratados en los términos convenidos.</li>
    </ul>
    <p>
      El USUARIO pagará por concepto de almacenaje para el caso de no recoger sus prendas a los 30 (treinta) días posteriores a la fecha pactada el equivalente al 1% (uno por ciento) del total del precio convenido por los servicios contratados por cada día que transcurra.
    </p>
    <p>
      En ningún caso el costo de almacenaje excederá del monto total del pago convenido por los servicios contratados.
    </p>
    <p>
      Para el caso de que el USUARIO no acuda a recoger sus prendas o telas después de los 90 (noventa) días posteriores a la fecha pactada para tal efecto, TINTORERÍAS SANGO se constituirá como acreedor prendario respecto de estas, pudiendo ejecutar la prenda de forma inmediata.
    </p>

    <h4>Novena. Envíos a Domicilio</h4>
    <p>
      El tiempo de entrega inicia a partir de las 48 (cuarenta y ocho) horas posteriores a la confirmación del pago.
    </p>
    <p>
      Los envíos a domicilio se harán a través de personal directo de TINTORERÍAS SANGO al domicilio particular del USUARIO o a un domicilio diverso señalado por este.
    </p>
    <p>
      Los tiempos de entrega corresponderán según el servicio elegido al momento de realizar la compra. Una vez confirmado y aceptado el pago, el USUARIO acepta que TINTORERÍAS SANGO si ocurre algún suceso que impida la entrega en el tiempo programado.
    </p>

    <h4>Décima. Cancelaciones</h4>
    <p>
      La cancelación de la orden sólo aplica antes de que la APLICACIÓN TINTORERÍAS SANGO confirme el envío de la orden. Una vez cancelada la orden, se iniciará un proceso de reembolso dentro del cual el USUARIO deberá enviar los datos bancarios para que se realice el reembolso, incluyendo: nombre del banco, nombre del titular, número de cuenta y CLABE de la cuenta (18 dígitos).
    </p>
    <p>
      El reembolso se hará específicamente por la misma vía o método de pago que el USUARIO utilizó para realizar la compra correspondiente.
    </p>

    <h4>Décima Primera. Protección de Datos</h4>
    <p>
      Los datos proporcionados por el USUARIO estarán protegidos de acuerdo con lo señalado en nuestro AVISO DE PRIVACIDAD visible en la APLICACIÓN TINTORERÍAS SANGO.
    </p>

    <h4>Décima Segunda. Garantía de Servicios</h4>
    <p>
      TINTORERÍA SANGO brindará como garantía de los servicios prestados las siguientes:
    </p>
    <ul>
      <li>Reparar las prendas en caso de deterioro parcial por responsabilidad o negligencia, sin costo alguno para el USUARIO.</li>
      <li>Indemnizar en caso de deterioro total o pérdida por responsabilidad o negligencia al USUARIO hasta con un máximo de 12 (doce) veces el precio de los servicios pactados o el 60% (sesenta por ciento) del valor de la prenda o tela, lo que sea más conveniente para el USUARIO siempre y cuando demuestre fehacientemente su propiedad y valor de adquisición.</li>
      <li>Corregir los defectos que el USUARIO encuentre al momento de recibir sus prendas y telas por responsabilidad o negligencia, sin costo alguno.</li>
    </ul>
    <p>
      Los reclamos para hacer efectivas cualquiera de las garantías establecidas deberán hacerse dentro de un periodo máximo de 30 (treinta) días posteriores a la recepción de las prendas o telas, en el entendido que cualquier reclamo fuera del periodo no se hará efectiva cualquier garantía que pudiere haber sido aplicable.
    </p>

    <h4>Décima Tercera. Facturación</h4>
    <p>
      En caso de que el Usuario requiera factura por el importe total de sus compras y no lo solicite por medio de la APLICACIÓN TINTORERÍAS SANGO, podrá solicitarla al correo <a href="mailto:tintoreriasangodomiciolio@gmail.com">tintoreriasangodomiciolio&#64;gmail.com</a> enviado para tales efectos el número de su orden, nombre o razón social, RFC y domicilio fiscal completo. Los datos deberán ser enviados dentro del mes y año en curso por lo menos con 5 días anteriores al término del mes calendario en curso.
    </p>
    <p>
      No se podrán emitir facturas de compras realizadas fuera del mes en curso.
    </p>

    <h4>Décima Cuarta. Ley Aplicable y Jurisdicción</h4>
    <p>
      Para la interpretación y cumplimiento de los presentes términos y condiciones, las partes se someten a la jurisdicción de los tribunales de la zona metropolitana de la Ciudad de Guadalajara, Jalisco, renunciado expresamente a cualquier otro fuero que pudiere corresponderles por razón de sus domicilios presentes o futuros.
    </p>

    <h4>Décima Quinta. Notificaciones</h4>
    <p>
      El domicilio de TINTORERÍAS SANGO está ubicado en Av. Guadalupe 4331, colonia Ciudad de los Niños, en Zapopan, Jalisco, C.P. 45040.
    </p>
    <p>
      Las notificaciones serán válidas en la dirección de correo electrónico <a href="mailto:tintoreriasangodomiciolio@gmail.com">tintoreriasangodomiciolio&#64;gmail.com</a> y en la cuenta de correo electrónico que el USUARIO señale, las cuales se presumirán recibidas a más tardar a los cinco días hábiles de haber sido enviadas.
    </p>
    <footer>
      <p>&copy; 2024 Tintorería SANGO. Todos los derechos reservados.</p>
    </footer>
  </div>
</ion-content>





