.address-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background: var(--white);
  border: 1px solid rgba(204, 204, 204, 0.6);
  border-radius: 6px;
  transition: all 0.3s;
}

.address-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

ion-radio {
  margin-right: 10px;
}

ion-label h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-black);
}

ion-label p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--text-gray);
}

.address-actions {
  display: flex;
  gap: 5px;
}
