<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mis Direcciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <div class="form">
    <h1>Seleccionar Dirección</h1>
    <ion-list lines="none">
      <ion-radio-group>
        <div *ngFor="let direccion of direcciones" class="address-item">
          <div class="address-info">
            <ion-label>
              <h2>{{ direccion.alias }}</h2>
              <p>
                {{ direccion.direccion }}<br>
                {{ direccion.cp }}<br>
                {{ direccion.tel }}
              </p>
            </ion-label>
          </div>
          <div class="address-actions">
            <ion-button color="primary" size="small" (click)="edit_address(direccion.id)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small" (click)="deleteAddress(direccion)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-radio-group>
    </ion-list>
  </div>
  <ion-button size="large" shape="block" class="btn" (click)="add_address()">
    <ion-icon name="add-circle-outline"></ion-icon>
    Agregar Dirección
  </ion-button>
</ion-content>
