<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Cuando recogemos tus prendas?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imgs/portadas%202-01.jpg" alt="Banner de recolección y entrega" class="banner-image" />


    <!-- Selector de Fecha de Recolección -->
    <ion-card-header>
      <!-- Título de Recolección -->
      <ion-label class="section-title"><ion-icon name="arrow-redo-outline"></ion-icon> Recolección</ion-label>

      <!-- Selector de Fecha de Recolección -->
      <ion-item>
        <ion-select
          [(ngModel)]="fechaRecoleccionSeleccionada"
          (ionChange)="escogerFechaRecoleccion($event.detail.value)">
          <ion-select-option *ngFor="let rec of fechasRecoleccion" [value]="rec">
            {{ rec.fechaFormat }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="fechaRecoleccionSeleccionada">
        <h3 class="selected-date">{{ fechaRecoleccionSeleccionada.fechaFormat }}</h3>
      </ion-item>
    </ion-card-header>

    <!-- Selector de Fecha de Entrega (Visible solo si se seleccionó recolección) -->
    <ion-card-header *ngIf="fechaRecoleccionSeleccionada">
      <!-- Título de Recolección -->
      <ion-label class="section-title2"><ion-icon name="arrow-undo-outline"></ion-icon> Entrega</ion-label>
      <ion-item>
        <ion-select
          [(ngModel)]="fechaEntregaSeleccionada"
          (ionChange)="escogerFechaEntrega($event.detail.value)">
          <ion-select-option *ngFor="let ent of fechasEntrega" [value]="ent">
            {{ ent.fechaFormat }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="fechaEntregaSeleccionada">
        <h3 class="selected-date">{{ fechaEntregaSeleccionada.fechaFormat }}</h3>
      </ion-item>
    </ion-card-header>

    <!-- Mensaje de Confirmación -->
    <ion-card-content *ngIf="fechaRecoleccionSeleccionada && fechaEntregaSeleccionada">
      <h5>
        En caso de recolección o entrega anticipada, nos pondremos en contacto contigo.
      </h5>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="carrito.cantidad > 0">
      <ion-button (click)="irACarrito()">
        <ion-badge>{{ carrito.cantidad }}</ion-badge>
        Prendas
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="irADirecciones()"
        *ngIf="fechaRecoleccionSeleccionada && fechaEntregaSeleccionada">
        Continuar
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
