<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="payment-method-container" fullscreen>
  <ion-grid class="content-grid">
    <!-- Payment buttons -->
    <ion-row class="button-row" *ngIf="puedePagarConCC">
      <ion-col size="12" class="button-col">
        <ion-button expand="block" class="method-btn efectivo-btn" (click)="seleccionarMetodo('efectivo')">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          Efectivo
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12" class="button-col">
        <ion-button expand="block" class="method-btn tarjeta-btn" (click)="seleccionarMetodo('tarjeta')">
          <ion-icon slot="start" name="card-outline"></ion-icon>
          Tarjeta
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Payment options directly below buttons based on the selected method -->
    <ion-row *ngIf="metodo === 'efectivo'" class="option-row">
      <ion-col size="12">
        <ion-text class="custom-title">Selecciona en qué momento deseas pagar en efectivo:</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-row class="button-row">
          <ion-col size="12" class="button-col">
            <ion-button expand="block" class="method-btn recibir-btn" (click)="seleccionarCuandoEfectivo('entregar')">
              <ion-icon slot="start" name="exit-outline"></ion-icon>
              Al entregar mis prendas
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="button-row">
          <ion-col size="12" class="button-col">
            <ion-button expand="block" class="method-btn entregar-btn" (click)="seleccionarCuandoEfectivo('recibir')">
              <ion-icon slot="start" name="enter-outline"></ion-icon>
              Al recibir mis prendas
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="metodo === 'tarjeta'" class="option-row">
      <ion-col size="12">
        <ion-card class="card-input">
          <ion-card-header>
            <ion-label>Datos de tarjeta bancaria</ion-label>
          </ion-card-header>

          <ion-card-content>
            <!-- Cardholder Name -->
            <ion-item class="input-item">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label position="floating">Nombre en tarjeta</ion-label>
              <ion-input type="text" [(ngModel)]="tarjeta.card.name"></ion-input>
            </ion-item>

            <ion-item class="input-item"  [class.invalid]="!isEmailValid">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" [(ngModel)]="email" (ngModelChange)="validateEmail()"></ion-input>
            </ion-item>

            <!-- Optional: Display an error message when email is invalid -->
            <ion-text color="danger" *ngIf="!isEmailValid">
              Ingresa un Email Valido.
            </ion-text>

            <!-- Card Number -->
            <ion-item class="input-item">
              <ion-icon slot="start" name="card-outline"></ion-icon>
              <ion-label position="floating">Número de tarjeta</ion-label>
              <ion-input maxlength="16" type="tel" inputmode="numeric" [(ngModel)]="tarjeta.card.number"></ion-input>
            </ion-item>

            <!-- Expiration Date (Month and Year) -->
            <ion-grid class="expiration-grid">
              <ion-row>
                <ion-col size="6">
                  <ion-item class="input-item">
                    <ion-label position="floating">Mes</ion-label>
                    <ion-select placeholder="Seleccionar" [(ngModel)]="tarjeta.card.exp_month">
                      <ion-select-option [value]="mes" *ngFor="let mes of meses">{{ mes }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="input-item">
                    <ion-label position="floating">Año</ion-label>
                    <ion-select placeholder="Seleccionar" [(ngModel)]="tarjeta.card.exp_year">
                      <ion-select-option [value]="anio" *ngFor="let anio of anios">{{ anio }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- CVV -->
            <ion-item class="input-item">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              <ion-label position="floating">Código de seguridad (CVV)</ion-label>
              <ion-input type="password" maxlength="4" inputmode="numeric" [(ngModel)]="tarjeta.card.cvc"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="metodo !== ''">
  <div class="btn" *ngIf="metodo === 'efectivo' && carrito.total>0">
    <h2 class="d-flex">Total ${{ carrito.total }}
      <span *ngIf="cuandoEfectivo !== ''" class="end" (click)="pagarEnEfectivo()">
                <ion-icon name="cash-outline" style="margin-right: 5px"></ion-icon> Pagar en efectivo
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </span>
    </h2>
  </div>
  <div class="btn" *ngIf="metodo === 'tarjeta' && carrito.total>0 && isValidEmail(email)">
    <h2 class="d-flex">Total ${{ carrito.total }}
      <span (click)="generarToken()" class="end">
                <ion-icon name="card-outline" style="margin-right: 5px"></ion-icon> Pagar con tarjeta
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </span>
    </h2>
  </div>
</ion-footer>
