<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title style="color: black">
            {{nombreServicio}}
        </ion-title>
        <ion-buttons slot="primary" (click)="goToCart()" *ngIf="carrito.cantidad>0">
            <ion-icon slot="icon-only" ios="cart-outline" md="cart-outline"></ion-icon>
            <ion-button>
                <ion-badge style="background-color: #6780ab">{{carrito.cantidad}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
        <ion-item *ngFor="let opc of opciones" lines="none" (click)="seleccionarOpcionPrenda(opc)">
            <div class="container" >
                <img [src]=opc.img>
                <h2>{{opc.nombre}}</h2>
            </div>
        </ion-item>
    </ion-list>

  <!--  <div class="card-data">
        <div class="card" *ngFor="let opc of opciones" lines="none" (click)="seleccionarOpcionPrenda(opc)">
            <div class="container" >
                <img src="assets/imgs/prendas/{{opc.img}}">
                <h2>{{opc.nombre}}</h2>
                <div class="color-overlay"></div>
            </div>
        </div>
    </div>-->

</ion-content>
