<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Orden Nueva
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-card class="info">
        <ion-row>
            <ion-col size="6">
                <h2>Recoleccion</h2>
                <h3>{{resumen.recoleccion}}</h3>

            </ion-col>

            <ion-col size="6">
                <h2>Entrega</h2>
                <h3>{{resumen.entrega}}</h3>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h2>
                    <ion-icon name="home-outline"></ion-icon>
                    Dirección
                </h2>
                <h3>{{resumen.direccion}}</h3>
                <small>CP: {{resumen.cp}}</small>
                <ion-row>
                    <ion-col><small>
                        <ion-icon name="person-circle-outline" style="margin-right: 2px"></ion-icon>
                        {{resumen.nombre}}</small></ion-col>
                    <ion-col><small>
                        <ion-icon name="call-outline" style="margin-right: 2px"></ion-icon>
                        {{resumen.tel}}</small></ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card class="item_info">
        <h2 style="font-weight: bold">
            {{resumen.cantidadPrendas}} Prendas
        </h2>
        <div class="item_list">
            <div class="item" *ngFor="let prenda of prendas">
                <h3 class="d-flex">
                    <span class="quantity">{{prenda.cantidad}}</span>
                    <span class="multiply">x</span>
                    <span class="item_name">{{prenda.nombre}} <span
                            style="color: #6e7b82; margin-right: 2px; font-size: .7em"
                            class="item_name">(${{prenda.precio}})</span></span>
                    <span style="color: #5b80d9"
                          class="amount end ion-text-end">${{prenda.precioTotal | number : '1.2-2'}}</span>
                </h3>
            </div>
        </div>
    </ion-card>

</ion-content>


<ion-footer class="ion-no-border">
    <!--
        <ion-card class="promo-code" (click)="promocode()">
            <h2 class="d-flex">
                <ion-icon class="zmdi zmdi-label"></ion-icon>{{'Have_Promocode' | translate}}
            </h2>
        </ion-card>
    -->

    <ion-card class="payment_info">
        <h5 class="d-flex" style="color: black !important;">Envio <span class="end ion-text-end">$0</span></h5>
        <h2 class="d-flex" style="color: #29af5d !important;">Total a pagar<span
                class="end ion-text-end">${{resumen.total | number : '1.2-2'}}</span></h2>
    </ion-card>

    <ion-footer class="ion-no-border" *ngIf="cargando">
        <ion-button size="large" shape="full" class="btn" (click)="payment()">
            <ion-icon name="cash-outline" style="margin-right: 6px"></ion-icon>
            Pagar
        </ion-button>
    </ion-footer>

    <ion-footer class="ion-no-border" *ngIf="!cargando">
        <ion-button disabled size="large" shape="full" class="btn">
            Obteniendo Pedido
        </ion-button>
    </ion-footer>
</ion-footer>
